# Default ignored files
shelf/
workspace.xml
caches/
libraries/
modules.xml
navEditor.xml
assetWizardSettings.xml

# It contains project-relative paths, but there are a few user paths that shouldn't be shared.
gradle.xml
